.signup
  .header
    = image_tag 'logo.png', size: '130x50',class:'image'
  .main
    .main__registration
      %h2.main__registration--name 新規会員登録
      .main__registration__sns
        =button_to '/', class:'mail' do
          = icon('fas', 'envelope',  class: 'icon')
          メールアドレスで登録する
        =button_to '/', class:'google' do
          = icon('fab', 'google',  class: 'icon')
          Googleで登録する
        =button_to '/', class:'facebook' do
          = icon('fab', 'facebook',  class: 'icon')
          Facebookで登録する
        =button_to '/', class:'apple' do
          = icon('fab', 'apple',  class: 'icon')
          Appleで登録する
      .main__registration__group
        .main__registration__text
        登録することで、
        =link_to '利用規約','/'
        と
        =link_to 'プライバシーポリシー', '/'
        に
        .br
        同意したものとみなされます。
  .footer
    %li.footer__box
      %ul.login__footer__box__list
        =link_to '/' do
          プライバシーポリシー
        =link_to '/' do
          フリマ利用規約
        =link_to '/' do
          特定商取引に関する表記
          =link_to '/' do
            = image_tag 'logo-white.png', size: '130x50',class:'image'
    %p© Mercari, Inc