.header
  .header__container 
    .header__container__top
      .header__container__top__logo
        =link_to '/', class:"logo-link" do
          =image_tag("logo.png", class: "image-logo")
      %form.search-form{:action => "#"}
        %input{:name => "keyword", :placeholder => "キーワードから探す", :type => "search", :class => "search-box"}
        =image_tag("icon-search 1.png",  class:  "search-icon")
    .listsFrame
      %ul.listsFrameLeft
        %li.listsFrameLeft__item.listsFrameLeft__item--first
        .category_lists
          = link_to "カテゴリー", "#", id: "catBtn"
          .category_list
            .parents_list

            .children_list
              
            .grand_children_list
              
        %li.listsFrameLeft__item.listsFrameRight__item--first
          = link_to "ブランド", "#", id: "brandBtn"
      %ul.listsFrameRight

        %li.listsFrameRight__item
        - if user_signed_in?
          = link_to "商品出品", new_item_path
          = link_to "ログアウト", destroy_user_session_path, method: :delete
          = link_to "マイページ", users_path
        - else
          %li.listsFrameRight__item
            = link_to "ログイン", new_user_session_path
          %li.listsFrameRight__item.listsFrameRight__item--new
            = link_to "新規会員登録",  new_user_registration_path