.seller
  =render  "shared/header"
  .product-main
    .product-main__inner
      .product-main__inner__name 
        = @item.name
      .product-main__inner__box
        .product-main__inner__box__photo
          = image_tag "#{@item.item_images[0].src}",size: "250x250"
          %ul
          - @item.item_images.each do |item_image|
            %li
              = image_tag "#{item_image.src}",size: "70x70"
        .product-main__inner__box__list
          %table{:border=>'1'} 
            %thead
              %tr
                %th 出品者
                %td= @item.user.nickname
              %tr
                %th カテゴリー
                %td
                  = link_to "#" do
                    = @item.category.parent.parent.name
                    %br
                  = link_to "#" do
                    = @item.category.parent.name
                    %br
                  = link_to "#" do
                    = @item.category.name
              %tr
                %th ブランド
                %td= @item.brand.name if @item.brand
              %tr
                %th 商品サイズ
                %td= @item.size.name
              %tr
                %th 商品の状態
                %td= @item.item_condition.name
              %tr
                %th 配送料の負担
                %td= @item.postage_payer.name
              %tr
                %th 配送の方法
                %td= @item.postage_type.name
                  
              %tr
                %th 配送元地域
                %td 
                  = link_to "#" do
                    = @item.prefecture.name
              %tr
                %th 発送日の目安
                %td= @item.estimated_shipping_date.name
      .product-main__inner__box__price
        .product-main__inner__box__price__sum 
          = ('¥' + @item.price.to_s(:delimited))
        .product-main__inner__box__price__tax (税込み)
        .product-main__inner__box__price__postage 送料込み
      - if user_signed_in? && current_user.id == @item.user_id
        = link_to '編集', edit_item_path(@item.id), class: 'product-main__inner__box__edit'
        = button_to "削除", item_path(@item.id), method: :delete, data: { confirm: "本当に削除しますか？" } , class: 'product-main__inner__box__delete'
      - elsif @item.buyer.present?
        = button_to '売り切れました', root_path(@item), method: :get, class:'product-main__inner__box__btn'
      - elsif current_user.blank?
        = button_to 'ログイン画面に移動',new_user_session_path, class:'product-main__inner__box__btn'
      - else 
        = button_to '購入画面に進む', item_buyers_path(@item),method: :get, class:'product-main__inner__box__btn'
      .product-main__inner__box__descripton
        %p.product-main__inner__box__descripton__text
        期間限定
      .product-main__inner__box__report
        =button_to 'いいね', '/', class:'product-main__inner__box__report__left'
        =button_to '不適切な商品の報告', '/', class:'product-main__inner__box__report__right'
    .product-main__message
      %p.product-main__message__top
      相手のことを考え丁寧なコメントを心がけましょう。
      %br 不快な言葉づかいなどは利用制限や退会処分となることがあります。
      = form_with model:@user do |f|
        = f.text_area :comment, class:'product-main__message__comment'
      = button_to 'コメントする', '/', class:'product-main__message__btn'
  = render "shared/footer"
